*,*::after, *::before{
    box-sizing: border-box;
    
}
body{
    margin:0;
    background-color: grey;
    margin-bottom: 80px;
    line-height: 1.6;
    
}
html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
:root {
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*.9);
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.container2{
    justify-content: center;
    display: flex;
    gap: 8px;
    padding: 5px;
}
.message{
    display: flex;
    text-align: center;
    justify-content: center;
}
.board{
    width: 440px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 0px auto;
    grid-template-columns: repeat(3,auto);
}
.cell{
    width: var(--cell-size);
    height:var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    
}

.cell.x,
.cell.o{
    cursor: not-allowed;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n+1){
    border-left: none;
    border-bottom: none;
}
.cell:nth-child(3n+2){
    border-bottom: none;
}
.cell:nth-child(3n+3){
    border-right: none;
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.cell.o::before,
.cell.o::after{
    background-color: black;
}


.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    background-color: lightgrey;
}



.cell.x::before,
.board.x .cell:hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover::after{
    transform: rotate(-45deg);
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
position: absolute;
content:'';
width: calc(var(--mark-size)* .15);
height: calc(var(--mark-size));

}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
position: absolute;
content:'';
border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size));
   height: calc(var(--mark-size));

   
   }
   .cell.o::after,
   .board.o .cell:not(.x):not(.o):hover::after{
    width: calc(var(--mark-size)* .7);
   height: calc(var(--mark-size)* .7);
   background-color: white;
  
   }
   .startgame{
   
        display: flex;
        font-weight: bold;
        font-size: larger;
        width:100%;
        justify-content: center;
        padding: 12px;
   }
   .main{
    margin: 0 20px;
   }
   .header{
    display: flex;
    font-weight: bold;
    font-size: larger;
    background-color:rgb(89, 210, 240);
    width:100%;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin: 0;
    padding: 0 20px;
}
.reset{
    justify-content: center;
    display: flex;
    gap: 8px;
    padding: 3px;
    
}
   .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 10%;
    font-size: 28px;
    background-color: aqua;
   }

/* Buttons Styles */
#x_button{
    font-size: 50px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: #4c5c68;
    border-radius: 7px;
    cursor: pointer;
}
#o_button{
    font-size: 50px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: #4c5c68;
    border-radius: 7px;
    cursor: pointer;
}
#x_button:not([disabled]):hover{
    font-size: 50px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: grey;
    -webkit-transition: background-color 500ms linear;
    transition:500ms linear;
    -ms-transition: background-color 500ms linear;
    border-radius: 7px;
    color: yellow;
    transform: rotate(360deg);
}
#o_button:not([disabled]):hover{
    font-size: 50px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: grey;
    -webkit-transition: background-color 500ms linear;
    transition: 500ms linear;
    -ms-transition: background-color 500ms linear;
    transform: rotate(360deg);
    border-radius: 7px;
    color: yellow;
}


#restart_button{
    font-size: 15px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: #4c5c68;
    border-radius: 7px;
    cursor: pointer;
    box-sizing: border-box;
}

#restart_button:not([disabled]):hover{  
    font-size: 25px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: grey;
    transition: 1000ms linear;
    transform: rotate(360deg);
    border-radius: 7px;
    cursor: pointer;
    color: yellow;
}

#player_button{
    font-size: 15px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: #4c5c68;
    border-radius: 7px;
    cursor: pointer;
    color: aqua;
}

#player_button:not([disabled]):hover{  
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: grey;
    transition: 500ms linear;
    border-radius: 7px;
    cursor: pointer;
    color: yellow;
}

#computer_button{
    font-size: 15px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: #4c5c68;
    border-radius: 7px;
    cursor: pointer;
    color: aqua;
}

#computer_button:not([disabled]):hover{  
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: grey;
    transition: 500ms linear;
    border-radius: 7px;
    cursor: pointer;
    color: yellow;
}

#start{
    font-size: 15px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: #4c5c68;
    border-radius: 7px;
    cursor: pointer;
    color: aqua;
}

#start:not([disabled]):hover{  
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid ;
    background-color: grey;
    transition: 500ms linear;
    border-radius: 7px;
    cursor: pointer;
    color: yellow;
}
.icon {
    background: url('icon.ico');
    height: 32px;
    width: 32px;
    display: block;
    /* Other styles here */
}